===== Print App Page ======
{% for app_page in app_pages %}
  {{ app.page }}.html is a web page
{% endfor %}
===== Print App Users =====
{% for user in app_users %}
  {{ user.name }} is with role {{ user.role }}
{% endfor %}
```